* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;

    grid-template-rows: 70px 1fr 70px;
    font-family: sans-serif;
    /* margin:  0 2rem; */
}

header{
    display: grid;
    grid-template-columns: 200px 1fr auto;
    place-items: center;
    padding: 0 1rem;
    background-color: #ffffff;
    color: #000000;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo-header-section{ 
    color: rgb(13, 48, 13);
}

header ul{
    list-style: none;
}

.left-ul-header{
    display: grid;
    grid-template-columns: repeat(4, auto);
   justify-content: center;
   gap: 1rem;
}

.left-ul-header a{
    text-decoration: none;
    color:#000000;
}
.left-ul-header a:hover {
    color: #fadc41;
}

.headers-button{
    display: grid;
    grid-template-columns: repeat(2, 80px);
   justify-content: end;
   gap: 1rem;
}

.one__place-main-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.one-place-image{
    width: 100%;
    height: 500px;
    padding: 2rem;
}
.one-place-secction{
    padding: 2rem;
}
.one-name-list-secction{
    font-size: 30px;
    padding-bottom: 1rem;
}
.main-section {
    display: grid;
    grid-auto-rows: 0.5fr 0 0.5fr;
    padding: 0 2rem;
}


.image-main-section {
    width: 100%;
    display: grid;
    place-self: center;
    padding-bottom: 2rem;
    /* height: 400px; */
}

.where-to-go-main-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 4rem 0;
}

.container{
    position: relative;
    text-align: center;
}

.place-name-main-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #ffffff;
}
.place-image-main-section {
    width: 100%;
    height: 250px;
}

footer {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    place-items: center;
    background-color: #f5f5f5;
}

.rights-footer {
    place-self: end center;
}

footer div img {
    width: 50px;
    height: 50px;
    z-index: 9;
}